<div class="container mt-5">
    <ng-container *ngIf="error">
        <h4>Internal Server Error- refreshing the page will make the exception disappear</h4>
        <h5 class="text-danger">Error: {{error.details}}</h5>
        <p class="font-weight-bold">Note: If you seeing this then Angular is probably not repsonsible</p>
        <p>What to do next</p>
        <ol>

            <li>
                Open Chome Dev Tools
            </li>
            <li>
                Inspect the network tab
            </li>
            <li>Check the failng request</li>
            <li>Examine this request URL - make sure this is correct</li>
            <li>Reproduce the error in postman- if we get the same response in Postman, then the issue in NOT with
                Angular
            </li>

        </ol>
        <p>Following is the stack trace - this is where the investigation should start!</p>
        <code class="mt-5" style="background-color:whitesmoke;">{{error.message}}</code>
    </ng-container>


</div>